.Container {
    margin-bottom: 8rem;
}

.Title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.Title h2 {
    font-size: 2.25rem;
    font-weight: bold;
}

.Title a {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
    color: #BE123C;
}

.Title a::after {
    content: '>';
    font-weight: bold;
    padding-left: 0.8rem;
}

.CardsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.CardsContainer button {
    border: none;
    background-color: transparent;
    position: absolute;
}

.CardsContainer .ChevronRight {
    right: -5rem;
}

.CardsContainer .ChevronLeft {
    left: -5rem;
}

.Cards {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}