.Container {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

.Container h2 {
    font-size: 1.125rem;
    font-weight: bold;
    width: 15rem;
    text-align: start;
}

.Container span {
    font-size: 0.75rem;
    font-weight: bold;
    color: #9CA3AF;
}

.Favorite {
    position: absolute;
    right: 6%;
    top: 3%;
}

.imgCover {
    overflow: hidden;
}

.imgCover img {
    transition: 0.3s;
}

.imgCover img:hover {
    transform: scale(1.2);
}

/* TELAS MENORES */
@media (max-width: 490px) {

    .Container {
        gap: 0.3rem;
        width: 90%;
    }

    .Container h2 {
        font-size: 1rem;
    }

    .Container span {
        font-size: 0.7rem;
    }

    .imgCover img {
        width: 100%;
    }
}