.TitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: start;
    color: #fff;
    width: 20rem;
    margin-top: 15%;
}

.TitleContainer h2 {
    font-size: 3rem;
}

.TitleContainer p {
    font-size: 0.875rem;
}

.TitleContainer a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 2.25rem;
    width: 10.563rem;
    font-size: 0.875rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #BE123C;
    border-radius: 0.375rem;
    transition: 0.3s;
}

.TitleContainer a:hover {
    font-weight: bold;
    width: 13rem;
}

/* TELAS MENORES */
@media (max-width: 490px) {
    .TitleContainer {
        margin-top: 50%;
    }

    .TitleContainer h2 {
        font-size: 2rem;
    }
}