.Container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 1000;
}

.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D3D3D3;
    opacity: 90%;
    height: 80%;
    width: 40%;
    border-radius: 0.5rem;
    overflow: auto;
}

.Content {
    padding-top: 10%;
    padding-bottom: 5%;
}

.Content>div>h2 {
    font-size: 1.2rem;
    margin-top: 1.2rem;
}

.Content>div>span {
    font-size: 1rem;
    opacity: 50%;
}

.Content>p {
    width: 80%;
    padding-top: 1.2rem;
    margin: auto;
}

.Content>span>p {
    padding-top: 2rem;
    opacity: 50%;
}

.Modal>.Close {
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #9CA3AF;
    transition: 0.3s;
}

.Modal>.Close:hover {
    font-weight: bold;
    color: tomato;
    transform: scale(1.2);
}

/* TELAS MENORES */
@media (max-width: 490px) {
    .Modal {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 90%;
        max-width: none;
    }
}