.Container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
}

.Container h2 {
    font-size: 1.125rem;
    font-weight: bold;
    text-align: start;
}

/* TELAS MENORES */
@media (max-width: 490px) {
    .Container img {
        margin-right: 5%;
    }
}